<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Decklink to WebRTC</title>
    <meta name="description" content="A little demo using Pion and FFmpeg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>{{ .Css }}</style>
  </head>

  <body>
    <header>
      A little demo using Pion and FFmpeg
    </header>
    <main>
      <video id="remote-video" autoplay muted></video>
    </main>
    <footer>
      <button id="mute-toggle" class="button">Un-mute</button>
    </footer>
    <script>{{ .Js }}</script>
  </body>
</html>
