body {
  background-color: #494949;
  color: #ffffff;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

main {
  min-height: 100vh;
  max-width: 100rem;
  margin: 1rem auto;
  text-align: center;
}

.video-container {
  aspect-ratio: 16 / 9;
  background-color: #000;
  margin: 1rem 0;
  overflow: hidden;
}

#remote-video {
  width: 100%;
}

.button {
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #0e3e8b;
  padding: 0.75rem;
  border-radius: 0.25rem;
}
