<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Decklink to WebRTC</title>
    <meta name="description" content="A little demo using Pion and FFmpeg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>{{ .Css }}</style>
  </head>

  <body>
    <main>
      <section>
        <p>A little demo using Pion and FFmpeg</p>
      </section>
      <section class="video-container">
        <video id="remote-video" autoplay muted></audio>
      </section>
      <section>
        <button id="mute-toggle" class="button">Un-mute</button>
      </section>
    </main>
    <script>{{ .Js }}</script>
  </body>
</html>
